.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

#mobile-brand {
  text-align: center;
  color: #E6003D;
}

#pills li {
  margin: auto 15px;
  font-size: 1em;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 34px;
  width: 50px;
}
a:hover {
  color: #E6003D;
}

a:focus {
  color: #E6003D;
}

.active-pill {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #E6003D;
}

#pills li:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #E6003D;
}

a {
  color: #E6003D;
  font-size: 1.25em;
}

#search-form {
  position: relative;
  margin: 15px 0;
}

.headerbg {
  background-color: #F5F5F5;
}

#mobile-nav {
  display: inline;
  margin: 0 auto;
  padding: 0;
  display: block;
  list-style-type: disc;
  font-size: 11px;
}

.mobile-nav-items {
  display: inline-block;
  height: 100%;
  text-align: center;
  float: left;
  margin: 0;
}
