.scrollWrapper {
    border: 2px solid #efefef;
    height: 275px;
    margin: 30px;
    border-radius: 5px; /* 5px rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
  	height:90%;
    padding: 5px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
}

.list {
    position:relative;
    left:0px;
    top:0px;
  	min-width:3000px;
    height: 100%;
    float: none;
    align-items: center;
}

.list li{
	  display:table-cell;
    position:relative;
    text-align:center;
    cursor:pointer;
    vertical-align:middle;
    padding: 0 30px;

}
.scroller-title {
  color: #E6003D;
  height: 10%;
  padding-left: 30px;
  margin-left:12px;
}
.panel {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 18rem;
}

#panel-header {
  background-color: white;
  padding: 2.5px 15px;
}

.panel-footer {
  background-color: white;
  padding: 2.5px 15px;
  height: 30px;
  border: 0;
}

.panel-body {
  height: 14.1rem;
  padding: 0;
}

.panel-body > img {
  width: 100%;
  height: 100%;
}

.item-price {
  float: left;
}

.item-quantity {
  float: right;
}
