.itemCard{
    background: white;
    width: 20.8rem;
    height: 35.2rem;
}

.itemCard__card-contents{
    cursor: pointer;
    margin: 0 auto 1rem auto;
    max-width: 15.8rem;
    display: block;
}

.itemCard__badge{
    position: absolute;
    top: .8rem;
    left: .8rem;
    height: 2rem;
    width: 10rem;
    z-index: 1;
}

.itemCard__badge--on-sale{
    background: url(https://i.imgur.com/Ay4LBsW.png) no-repeat;
    background-size: auto 2rem;
}

.itemCard__badge--popular{
    background-image: url(https://d2guulkeunn7d8.cloudfront.net/assets/popular@2x-c6bf7574f4d5d204bbbeeef2a38f67b2.png);
    background-size: 6.8rem 2rem;
}

.itemCard__media{
    margin:0 auto;
}

.itemCard__media__image{
    margin: 0 auto 1rem auto;
    display: block;
    max-height: 15.5rem;
    max-width: 15.5rem;
    padding-top: 1rem;
}

.itemCard__item-info{
    padding: .5rem 0 0;
    font-size: 1.3rem;
}

.itemCard__item-info__weight{
    color: lightslategrey;
    font-size: 1.1rem;
    margin: 0;
}

.itemCard__full-item-name{
    margin-top: 0;
    padding-top: 0;
    color: #393939;
    font-weight: 400;
    height: 3.6rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.itemCard__price{
    font-size: 2rem;
    font-weight: 700;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.itemCard__price--sale{
    color: red;
    font-size: 2.1rem;
    font-weight: 800;
    margin-right: .5rem;
}

.itemCard__price--crossed-out{
    text-decoration: line-through;
}

.itemCard__button-bar{
    margin: .5rem 2.5rem;
}

.itemCard__button-bar__add-to-cart{
    width: 100%;
    display: inherit;
}

.itemCard__loading-box{
    max-height: 1.8rem;
}
