.profile-panel{
    background-color: #ffffff;
    border: 1px solid #F0EFEC;
    border-radius: .6rem !important;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 78rem;
}
.profile-panel__h4{
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 1.7rem;
    padding: 2rem 3rem;
    margin: 0;
}
