.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button.primary {
	width: 100px;
	height: 75px; 
	font-size: 1.2em; 
	border: none;
	color: white; 
	border-radius: 5px; 
	background-color: red;
}

button.primary:hover { 
	background-color: #d82929;
}

.primaryRedWithHover {
	color: red;
}

.primaryRedWithHover:hover {
	color: #d82929;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
