.itemsGrid{
    list-style: none;
    max-width: 104rem;
    display: table-cell;
    padding: 0;
    margin: 0;
}

.itemsGrid__itemsCard{
    display: inline-block;
    position: relative;
    width: 20.8rem;
    vertical-align: top;
}